
.container {
  margin-bottom: 30px;
}
.container h2 {
  margin-top: 0px;
}
.question-control {
  margin: 0 20px 20px 0;
}
.question-control button{
  margin: 0 10px 0;
}

.highlight {
  background: rgba(7, 0, 0, 1);
  color: white;
  padding: 0 2px 0 2px;
}
.paragraph-indicator {
  display: inline;
  margin: 0 5px 0;
}

