<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Best web experience for TOEFL reading test.">
    <title>TOEFL Reading</title>
    <link rel="stylesheet" href="/s/v/bootstrap-3.0.0/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="/s/styles/index.css" />
    <link rel="icon" type="image/png" href="/s/images/myicon.jpg">
    <link rel="stylesheet" href="/s/styles/apps/toefl/reading_list.css" />
  </head>
  <body>
    <%- body %>
  </body>
</html>
