::content quote {
  display: block;
  margin: 5px 0 5px;
}
::content .question {
  list-style-type: none;
  margin: 0 0 50px 0;
}
::content .choice {
  list-style-type: none;
  margin: 8px 0 0 -40px;
  padding-left: 3px;
  border-radius: 6px;
}
::content .choice input[type="radio"] {
  margin: 4px 6px 0 0;
}
::content .answer-wrong {
  background: rgba(247, 203, 203, 0.9);
}
::content .answer-correct {
  background: rgba(181, 245, 181, 0.76);
}
@media (max-width: 740px) {
  ul {
    padding: 0 3px;
  }
}


