:host {
  display: inline-block;
}
button {
  display: inline-block;
  padding: 6px 2px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  width: 100%;
}
button.active, button.focus, button:active, button:focus, button:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
::content a:link {
  text-decoration: none;
}

::content a:visited {
  text-decoration: none;
}

::content a:hover {
  text-decoration: none;
}
::content a:active {
  text-decoration: none;
}
