<link rel="import" href="/polymer/polymer.html">
<link rel="import" href="../timer/timer.html">

<polymer-element name="tpo-reading">
  <template>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="tpo-reading.css"> 
    <div class="container">
      <div class="row">
        <t-timer></t-timer>
        <div class="question-control pull-right">
          <t-button>
            <a id="back-to-list" href="/toefl/reading">Return to list</a>
          </t-button>
          <t-button id="showAnswers" on-click="{{ showAnswers }}">Show Answers</t-button>

          <t-button id="previousQuestion" on-click="{{showPreviousQuestion}}" disabled="true">Previous</t-button>
          <t-button id="nextQuestion" on-click="{{showNextQuestion}}">Next</t-button> 
        </div>
      </div>
      <div class="row">
        <content></content> 
      </div> 
    </div>
  </template>
  <script src="tpo-reading.js"></script>
</polymer-element>
