.container {
  margin: 30px;
}
.container h2 {
  margin-top: 0px;
}
.question-control {
  margin: 0 20px 20px 0;
}
.question-control button{
  margin: 0 10px 0;
}
.pull-right {
  float: right!important;
}
.controls {
  clear: both;
}
.contents {
  clear: both;
}
.questions {
  width: 42%;
}
.article {
  width: 58%;
}
.fix-height {
  height: 700px;
  overflow: scroll;
  float: left;
}

