.container {
  margin-top: 30px;
}
.container h2 {
  margin-top: 0px;
}
.question-control {
  margin: 0 20px 20px 0;
}
.question-control button{
  margin: 0 10px 0;
}
.pull-right {
  float: right!important;
}
::content t-questions {
  width: 42%;
  float: left;
}
::content t-article {
  width: 58%;
  float: left;
}

